<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/logo.png">
    <title>dashboard :: knightrider</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #2C2F33;
            color: #ffffff;
            margin: 0;
            padding: 0;
        }
        
        * {
            box-sizing: border-box;
        }
        
        .headding {
            margin-left: 3.4%;
        }
        
        input[type=text],
        select,
        textarea {
            width: 30%;
            padding: 12px;
            border: 1px solid #2C2F33;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            background-color: #4c4e55;
            color: #ffffff;
        }
        
        .button {
            background-color: #5865F2;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        .button:hover {
            background-color: #5460e7;
        }
        
        .button#submit:hover {
            background-color: #EB459E;
        }
    </style>
</head>

<body>

    <%- include('parts/dash-navbar.ejs') %>


        <div style="margin-top: 60px;">
            <div>
                prefix bot name other things
            </div>
            <p style="margin: 40px;"><a class="button" href="/dash/filter?userid=<%= userInfo.id %>&tmpPassWord=<%= tmpPassWord %>&username=<%= userInfo.username %>&userAvatar=<%= userInfo.avatar %>">Edit Filters</a></p>
            <p style="margin: 40px;"><a class="button" href="/dash/userinfo?userid=<%= userInfo.id %>&tmpPassWord=<%= tmpPassWord %>&username=<%= userInfo.username %>&userAvatar=<%= userInfo.avatar %>">Member Information</a></p>
            <p style="margin: 40px;"><a class="button" href="/dash/message?userid=<%= userInfo.id %>&tmpPassWord=<%= tmpPassWord %>&username=<%= userInfo.username %>&userAvatar=<%= userInfo.avatar %>">Sent Embeds And Messages</a></p>
        </div>
        <%- include('parts/footer.ejs') %>
</body>

</html>