<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script defer src="/js/filter.js"></script>
    <link rel="icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/logo.png">
    <title>filter-dashboard :: knightrider</title>
</head>

<body>
    <%- include('../partials/dash-navbar.ejs') %>
        <div class="flex-containor">
            <%- include('../partials/dashboard-menu.ejs') %>
                <div class="view">
                    <div class="headding">
                        <h1>Filter</h1>
                        <h3>add and remove words from the filters</h3>
                    </div>

                    <div style="margin: 20px;margin-top: 50px;">
                        <button class="button" id="submit" onclick="updateFilters()">Update Filters</button>
                        <br>
                        <p id="info"></p>
                    </div>

                    <div class="container">
                        <h1>Filter normal:</h1>
                        <div class="filters" id="filterNormal"></div>
                        <input type="text" id="filterNormalInput" placeholder="word...">
                        <button class="button" onclick="addTofilterNormal()">Add To Filter</button>
                        <button class="button" onclick="removeFilterNormal()">remove from Filter</button>
                    </div>
                    <br>
                    <br>

                    <div class="container">
                        <h1>Filter Safe:</h1>
                        <div class="filters" id="filterSafe"></div>
                        <input type="text" id="filterSafeInput" placeholder="word...">
                        <button class="button" onclick="addTofilterSafe()">Add To Filter</button>
                        <button class="button" onclick="removeFilterSafe()">remove from Filter</button>
                    </div>
                    <button class="button" id="submit" onclick="updateFilters()">Update Filters</button>
                </div>
        </div>

        <%- include('../partials/footer.ejs') %>
</body>
<script>
    document.getElementById('filter').classList.add('view-btn-active');
    var domain = '<%= domain%>';
    var user = <%-JSON.stringify(user) %>;
    var currentServer = <%-JSON.stringify(currentServer) %>;
    var filterNormal = <%-JSON.stringify(currentServer.filter.normal) %>;
    var filterSafe = <%-JSON.stringify(currentServer.filter.safe) %>;
</script>

</html>