<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/pattern.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard.css?v=6942011">
    <script src="https://kit.fontawesome.com/f09044d61f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <title>dashboard | Proto1</title>
</head>

<body>
    <div class="user-information">
        <!--<h3><img src="<%= currentUser.avatar %>" alt="avatar"><span><%= currentUser.userName %></span>#<span><%= currentUser.discriminator %></span></h3> -->

        <div class="useravatar">
            <img src="<%= currentUser.avatar %>" alt="user-avatart">
        </div>
        <div class="username">
            <p><span><%= currentUser.userName %></span>#<span><%= currentUser.discriminator %></span></p>
        </div>
    </div>
    <p>dont see your server? <a href="/login">login again</a></p>
    <div class="container">
        <div class="servers-lists">
            <div class="server-list">
                <% guilds.forEach(guild => { %>
                    <% if(guild.mutual == true) { %>
                        <div class="server-container">
                            <div class="server">
                                <div class="server-info">
                                    <div class="server-name">
                                        <%= guild.name %>
                                    </div>
                                </div>
                                <div class="server-icon">
                                    <img class="server-icon-img" src="<%= guild.icon %>" alt="server icon">
                                </div>
                            </div>
                            <div class="button-container">
                                <a class="button manage" href="/server/<%= guild.id %>">Manage</a>

                            </div>
                        </div>
                        <% } %>
                            <% }) %>
            </div>

            <div class="server-list">
                <% guilds.forEach(guild => { %>
                    <% if(guild.mutual == false) { %>
                        <div class="server-container">
                            <div class="server">
                                <div class="server-info">
                                    <div class="server-name">
                                        <%= guild.name %>
                                    </div>
                                </div>
                                <div class="server-icon">
                                    <img class="server-icon-img" src="<%= guild.icon %>" alt="server icon">
                                </div>
                            </div>
                            <div class="button-container">
                                <a class="button invite" href="https://discord.com/oauth2/authorize?client_id=INSERT_CLIENT_ID_HERE&scope=bot&permissions=4151705302">Invite</a>

                            </div>
                        </div>
                        <% } %>
                            <% }) %>

            </div>
        </div>
    </div>

    <div class="pattern-grid-lg">
    </div>
</body>

</html>