<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script defer src="/js/reactionroles.js"></script>
    <link rel="icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/logo.png">
    <title>filter-dashboard :: knightrider</title>
    <style>
        .emoji-picker__tab {
            color: black;
        }
    </style>
</head>

<body>
    <%- include('../partials/dash-navbar.ejs') %>
        <div class="flex-containor">
            <%- include('../partials/dashboard-menu.ejs') %>
                <div class="view">
                    <div class="headding">
                        <h1>reaction roles</h1>
                        <h3>add and remove reaction roles</h3>
                    </div>

                    <div style="margin: 20px;margin-top: 50px;">
                        <button class="button" id="submit" onclick="sendupdate()">Update Reaction Roles</button>
                        <br>
                        <p id="info"></p>
                    </div>

                    <div class="container">
                        <h1>Reaction role:</h1>
                        <div class="filters" id="ReactionRoles"></div>
                        <!-- <input type="text" id="ReactionRoleChannel" placeholder="channel id..."> -->
                        <select id="ReactionRoleChannel" name="ReactionRoleChannel" placeholder="channel id...">
                            <option value="null">channel</option>
                            <% server.channels.forEach(chan => { %>
                          <option value="<%= chan.id %>"><%= chan.name %></option>
                          <% }) %>
                        </select>
                        <select id="ReactionRole" name="ReactionRole" placeholder="role id...">
                            <option value="null">role</option>
                            <% server.roles.forEach(r => { %>
                          <option value="<%= r.id %>"><%= r.name %></option>
                          <% }) %>
                        </select>
                        <!-- <input type="text" id="ReactionRole" placeholder="role id..."> -->
                        <input type="text" id="ReactionRoleEmoji" placeholder="emoji..."><button id="emoji-button">?</button></input>

                        <button class="button" onclick="addReactionRole()">Add reaction role</button>
                        <button class="button" onclick="removeReactionRole()">remove reaction role</button>
                    </div>
                    <br>

                </div>

                <%- include('../partials/footer.ejs') %>

                    <script src="https://cdn.jsdelivr.net/npm/emoji-button@0.6.0/dist/index.min.js"></script>
                    <script>
                        document.getElementById('reactionroles').classList.add('view-btn-active');
                        var domain = '<%= domain%>';
                        var user = <%-JSON.stringify(user) %>;
                        var server = <%-JSON.stringify(server) %>;
                        var currentServer = <%-JSON.stringify(currentServer) %>;
                        var reactionRoles = <%-JSON.stringify(currentServer.reactionRoles) %>;;

                        //emoji button https://www.cssscript.com/emoji-picker-button/
                        window.addEventListener('DOMContentLoaded', () => {
                            EmojiButton(document.querySelector('#emoji-button'), function(emoji) {
                                document.querySelector('#ReactionRoleEmoji').value += emoji;
                            });
                        });
                    </script>
</body>

</html>