<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/logo.png">
    <title>userinfo-dashboard :: knightrider</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #2C2F33;
            color: #ffffff;
            margin: 0;
            padding: 0;
        }
        
        * {
            box-sizing: border-box;
        }
        
        .headding {
            margin-left: 3.4%;
        }
        
        input[type=text],
        select,
        textarea {
            width: 30%;
            padding: 12px;
            border: 1px solid #2C2F33;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            background-color: #4c4e55;
            color: #ffffff;
        }
        
        .button {
            background-color: #5865F2;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        .button:hover {
            background-color: #5460e7;
        }
        
        .button#submit:hover {
            background-color: #EB459E;
        }
        
        .container {
            border-radius: 5px;
            background-color: #40444B;
            padding: 20px;
            margin: 12px;
        }
        
        .filterul {
            margin: 0;
        }
        
        .filterul li {
            list-style-type: none;
            float: left;
            padding: 5px;
            margin: 3px;
            border-radius: 5%;
            background-color: #33363a;
        }
        
        .filters {
            margin-bottom: 10px;
            display: flex;
        }
    </style>

</head>

<body>
    <%- include('../partials/dash-navbar.ejs') %>



        <div class="headding">
            <h1>Member Info</h1>
            <h3>edit and see information for a member</h3>
        </div>

        <div style="margin: 20px;margin-top: 50px;">
            <p style="margin: 20px;margin-left: 0;"><a class="button" href="/oauth">Dashboard</a>
                <a class="button" href="/dash/userinfo?userid=<%= userInfo.id %>&tmpPassWord=<%= tmpPassWord %>&username=<%= userInfo.username %>&userAvatar=<%= userInfo.avatar %>">Member Information</a>
                <a class="button" href="/dash/message?userid=<%= userInfo.id %>&tmpPassWord=<%= tmpPassWord %>&username=<%= userInfo.username %>&userAvatar=<%= userInfo.avatar %>">Sent Embeds And Messages</a></p>
            <br>
            <br>
            <div>

            </div>
            <br>
            <p id="info"></p>
        </div>

        <div class="container">
            <h1>userinfo:</h1>
            <input type="text" id="memberId" placeholder="id...">
            <button class="button" onclick="memberInfoLookUp()">Submit</button>
            <div>
                <label for="userStrikes">Member Strikes</label>
                <input type="text" id="userStrikes" />
                <br>
                <label for="userNote">Member Note</label>
                <input type="text" id="userNote" />
                <p>Member is admin: <a id="userAdmin">null</a></p>
                <button class="button" onclick="memberInfoUpdate()">Submit</button>
            </div>
        </div>
        <br>


        <%- include('../partials/footer.ejs') %>
</body>
<script>
    var userInfo = <%-JSON.stringify(userInfo) %>
    var tmpPassWord = <%= tmpPassWord %>







    async function memberInfoLookUp() {
        var memberId = document.getElementById('memberId').value

        var xhr = new XMLHttpRequest();
        xhr.open("POST", 'http://idiotlanparty.com:4758/api/dash/userinfo/i', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        await xhr.send(JSON.stringify({
            userInfo: userInfo,
            tmpPassWord: tmpPassWord,
            memberId: memberId
        }));

        xhr.onreadystatechange = async function() {
            if (xhr.readyState === 4) {
                var res = await JSON.parse(xhr.response)
                if (res.error) {
                    document.getElementById("info").innerHTML = res.error
                } else {
                    document.getElementById("userStrikes").value = res.userStrikes
                    document.getElementById("userNote").value = res.userNote
                    document.getElementById("userAdmin").innerHTML = res.userAdmin
                }
            }
        }
    }



    async function memberInfoUpdate() {
        var memberStrikes = document.getElementById("userStrikes").value
        var memberNote = document.getElementById("userNote").value
        var memberId = document.getElementById('memberId').value

        var xhr = new XMLHttpRequest();
        xhr.open("POST", 'http://idiotlanparty.com:4758/api/dash/userinfo/update', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader("access-control-allow-origin", "*");
        await xhr.send(JSON.stringify({
            userInfo: userInfo,
            tmpPassWord: tmpPassWord,
            memberId: memberId,
            memberStrikes: memberStrikes,
            memberNote: memberNote

        }));
        xhr.onreadystatechange = async function() {
            if (xhr.readyState === 4) {
                var res = await JSON.parse(xhr.response)
                if (res.error) {
                    document.getElementById("info").innerHTML = res.error
                } else if (res.status == 'ok') {
                    document.getElementById("info").innerHTML = "Member info updated sucsesfully"
                } else {
                    document.getElementById("info").innerHTML = "Can't Upload Member Info Server Is Down."
                }
            }
        }

    }
</script>

</html>